# Question 1 : Create a function that detects categorical and continuous, calcualtes percentage of missing values and imputes mean/mode for missing values less than 40% and omits the rest.


Solution:

In [1]:
#Create a random sales data
comp <- c('F','F','F','S','S','S','T','T','T')
month <- c('Jan','Feb','March','Apr','May','June','July','Aug','Sept')
Sales <- c('Low','Medium','High','High','Low','High','Medium','Low','Low')
bq1 <- runif(9,min = 0, max = 100)
bq2 <- runif(9,min = 0, max = 100)
bq3 <- runif(9,min = 0, max = 100)
bq4 <- runif(9,min = 0, max = 100)
bq5 <- runif(9,min = 0, max = 100)
bq6 <- runif(9,min = 0, max = 100)

In [2]:
df <- data.frame(Comp = comp, Month = month, Sales = Sales, Qtr1 = bq1, Qtr2 
                 = bq2, Qtr3 = bq3, Qtr4 = bq4, Qtr5 = bq5, Qtr6 = bq6)

In [3]:
df

  Comp Month Sales  Qtr1       Qtr2      Qtr3     Qtr4     Qtr5      Qtr6
1 F    Jan   Low    12.7278466 26.825792 35.04615 68.21294 43.895343 29.43743
2 F    Feb   Medium 68.8720508  9.984841 69.04169 27.09676 32.102103 57.81296
3 F    March High   23.6816562 40.918672 80.38157 88.21245 88.572029 59.69458
4 S    Apr   High   62.0985621 90.353688 51.60383 42.64837 80.469367 95.87846
5 S    May   Low     0.3150629 36.553410  6.56865 21.66873  6.001076 73.60930
6 S    June  High   88.3370723 57.474166 50.00414 25.74947 84.212527 26.49481
7 T    July  Medium 94.3927253 59.195680 20.79636 20.91020 36.523024 36.53746
8 T    Aug   Low    80.8722366 26.043498 98.01793 51.87727 72.620176 84.28960
9 T    Sept  Low    36.3028459 91.758800 78.83076 50.93342 74.332368 60.95385

In [4]:
#Create missing values
df[5,5] <- NA
df[5,4] <- NA
df[5,7] <- NA
df[5,9] <- NA


df[3,5] <- NA
df[3,4] <- NA
df[3,7] <- NA
df[3,9] <- NA

df[9,5] <- NA
df[9,4] <- NA
df[9,6] <- NA
df[9,8] <- NA

df[7,5] <- NA 
df[1,5] <- NA

df[5,3] <- NA
df[2,3] <- NA
df[7,1] <- NA

In [5]:
df

  Comp Month Sales  Qtr1     Qtr2      Qtr3     Qtr4     Qtr5      Qtr6
1 F    Jan   Low    12.72785        NA 35.04615 68.21294 43.895343 29.43743
2 F    Feb   NA     68.87205  9.984841 69.04169 27.09676 32.102103 57.81296
3 F    March High         NA        NA 80.38157       NA 88.572029       NA
4 S    Apr   High   62.09856 90.353688 51.60383 42.64837 80.469367 95.87846
5 S    May   NA           NA        NA  6.56865       NA  6.001076       NA
6 S    June  High   88.33707 57.474166 50.00414 25.74947 84.212527 26.49481
7 NA   July  Medium 94.39273        NA 20.79636 20.91020 36.523024 36.53746
8 T    Aug   Low    80.87224 26.043498 98.01793 51.87727 72.620176 84.28960
9 T    Sept  Low          NA        NA       NA 50.93342        NA 60.95385

In [6]:
library(dplyr)
# detects if categorical data is present and converts the factors to characters for applying functions that
# make playing around with data easier
df %>% mutate_if(is.factor, as.character) -> df1

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [16]:
#imputation function
impute <- function(x){
    missing_val <- sum(is.na(x))/length(x)* 100 #percentage of missing values
    return(ifelse(missing_val > 40, NA,
                   # impute mode for categorical and mean for continuous
                   ifelse(is.character(x), names(sort(-table(x[!is.na(x)])))[1], mean(x[!is.na(x)])))) 
    }

In [17]:
impute_val <- sapply(df1, impute) #apply function to dataframe
df1[] <- Map(function(x, y) replace(x, is.na(x), y), df1, impute_val) #impute missing values
df1 <- na.omit(df1) #drop rows where column has missing percentage > 40

In [18]:
df1

  Comp Month Sales Qtr1             Qtr2             Qtr3
2 F    Feb   High  68.8720508245751 9.98484091833234 69.0416901838034
4 S    Apr   High  62.098562088795  90.3536882949993 51.6038304194808
6 S    June  High  88.3370723342523 57.4741664109752 50.0041388673708
8 T    Aug   Low   80.8722366113216 26.0434976778924 98.0179336620495
  Qtr4             Qtr5             Qtr6
2 27.0967628573999 32.1021030424163 57.8129638917744
4 42.6483653718606 80.4693668615073 95.8784554619342
6 25.7494708755985 84.2125271214172 26.4948117313907
8 51.8772664712742 72.6201760349795 84.2895974870771

# Question 2 : Sample the data into equal samples without changing the order


Solution:

In [33]:
acct_num <- c('4525','52222','22892','67181','67733','737382','5534','2228','7282','45622')

In [34]:
Probability <- runif(10, min = 0, max = 10)

In [35]:
acct_details <- data.frame(acct_num, Probability)

In [36]:
acct_details

   acct_num Probability
1  4525     1.5790106
2  52222    7.1013982
3  22892    6.3759774
4  67181    8.9288777
5  67733    9.6107412
6  737382   0.9741298
7  5534     2.8494978
8  2228     2.1400158
9  7282     6.1342796
10 45622    7.7877155

In [37]:
#order the probability
acct_details2 <- acct_details[order(acct_details$Probability),]

In [38]:
acct_details2

   acct_num Probability
6  737382   0.9741298
1  4525     1.5790106
8  2228     2.1400158
7  5534     2.8494978
9  7282     6.1342796
3  22892    6.3759774
2  52222    7.1013982
10 45622    7.7877155
4  67181    8.9288777
5  67733    9.6107412

In [40]:
#split the data equally
split_data <- split(acct_details2, rep(1:5, each = 2))

In [41]:
split_data

$`1`
  acct_num Probability
6   737382   0.9741298
1     4525   1.5790106

$`2`
  acct_num Probability
8     2228    2.140016
7     5534    2.849498

$`3`
  acct_num Probability
9     7282    6.134280
3    22892    6.375977

$`4`
   acct_num Probability
2     52222    7.101398
10    45622    7.787715

$`5`
  acct_num Probability
4    67181    8.928878
5    67733    9.610741